
<div class="profile_headline container">
<br>
<h4> My Appointments</h4>
<p class="badge"> Barber Code <span><%=@barber.unique_code%></span><p>

</hr>
  <div class='row'>
    <div class='col l3'>
    <%=link_to 'Authorize Google Calendar', schedule_gcal_redirect_path %><br>
    <%=link_to 'Appointment Request', barber_path(current_user.id, appointment_type: 'request_all') %></br>
    <%=link_to 'Booked Appointments', barber_path(current_user.id, appointment_type: 'booked_appointments') %>
    </div>
    <div class='col l9'>
    <% @clients.each do |appt|%>
      <div class="card" >
      <p> Appointment Start Time: <%= appt.start_time%></p> 
      <%= link_to schedule_add_appointment_path(appt_id: appt.id) do %>
      <p> Requested Day: <%=appt.schedule_day.strftime('%m-%A-%Y')%></p>
      <%end%>
    </div>
    <%end%>
    <div>
  </div>

</div>

<!-- TODO: fix the barber sign up flow and adding appointment process as to not need links-->
<br><br>
<%link_to 'Create New Barber Calendar', schedule_new_calendar_path, class: 'btn btn-primary' %><br><br>
<%link_to 'Get Calendar Id', schedule_get_calendar_id_path, class: 'btn btn-primary'%><br><br>




