<div class="panel panel-default appt-form col-md-8">
  <div class="panel-heading">
    <h3 class="panel-title">Create New Barber Appointment</h3>
  </div>
  <div class="panel-body">
     <%= form_for Appointment.new, url: "/barber/#{@barber_id}/appointments" do |f|%>
      <div class='control-group'>
          <%=f.label 'Schedule Day'%>
          <%=f.date_select :schedule_day, class: 'datepicker'%>
      </div>
      <div>
          <%=f.label 'Start Time'%>
          <%=f.time_select :start_time , {:ampm => true}%>
      </div>
      <div>
          <%=f.label 'End Time'%>
          <%=f.time_select :end_time , {:ampm => true}%>
      </div>
          <%=f.hidden_field(:barber_id, :value => @barber_id)  %>

          <%=f.submit 'Request Appointment', class: 'btn btn-primary'%>
      <%end%>
  </div>
</div>
