<style>
  .day {
    display: none;
  }
  @media (min-width:320px) { 
  .showbutton {
    display: none;
  }

  .selection {
    display: inline-block;
  }
  .day {
    display: inline-block;
    color: black;
    border: 1px solid red;
    margin-bottom: 25px;
    width: 40px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    opacity: 0.5;
    transition: color 0.3s ease-out, background-color 0.3s ease-out;
  }
}
</style>

<div class="panel panel-default appt-form col-md-8">
   <!--  <div class="panel-heading">
      <h3 class="panel-title">Select from Joes Available Slots</h3>
    </div> -->
<div class='show'>
    <%=link_to 'Monday', new_barber_appointment_path(barber_id: @barber_id, q: 'monday', style: params[:style]) , class: 'showbutton'%>
    <%=link_to 'Tuesday',new_barber_appointment_path(barber_id: @barber_id, q: 'tuesday', style: params[:style]), class: 'showbutton' %>
  <%=link_to 'Wednesday',new_barber_appointment_path(barber_id: @barber_id, q: 'wednesday', style: params[:style]), class: 'showbutton' %>
    <%=link_to 'Thursday',new_barber_appointment_path(barber_id: @barber_id, q: 'thursday', style: params[:style]), class: 'showbutton' %>
    <%=link_to 'Friday',new_barber_appointment_path(barber_id: @barber_id, q: 'friday', style: params[:style]), class: 'showbutton' %>
    <%=link_to 'Saturday',new_barber_appointment_path(barber_id: @barber_id, q: 'saturday', style: params[:style]), class: 'showbutton'%>
</div>
    <center>
  <div class="selection">
  <%=link_to 'M', new_barber_appointment_path(barber_id: @barber_id, q: 'monday', style: params[:style]) , class: 'day'%>
  <%=link_to 'T',new_barber_appointment_path(barber_id: @barber_id, q: 'tuesday', style: params[:style]), class: 'day' %>
  <%=link_to 'W',new_barber_appointment_path(barber_id: @barber_id, q: 'wednesday', style: params[:style]), class: 'day' %>
  <%=link_to 'Th',new_barber_appointment_path(barber_id: @barber_id, q: 'thursday', style: params[:style]), class: 'day' %>
  <%=link_to 'F',new_barber_appointment_path(barber_id: @barber_id, q: 'friday', style: params[:style]), class: 'day' %>
  <%=link_to 'Sat',new_barber_appointment_path(barber_id: @barber_id, q: 'saturday', style: params[:style]), class: 'day'%>
  </div>
    </center>
    <center>
      <div class="panel-body">
    
      <%= form_for @appointment, url: "/barber/#{@barber_id}/appointments" do |f| %>

        <div class='control-group'> 
          <%= f.text_field :name , :size => '61', placeholder: "First Name", class:'appointment'%> 
        </div></br>
        <div class='control-group' >
          <%= f.select  :start_time, options_for_select(@free_times), {:include_blank => 'Available Times'} %>
        </div></br>
        <div class='control-group' >
          <%= f.text_area :summary, :size => '60', placeholder: "Notes"%>
        </div>
            <%=f.submit 'Rerserve Appointment', class: 'btn btn-primary'%>
      <%end%>

    </div>
    </center>


  </div>
<script>
   // $( "#date" ).on('click', function() {
   //   var chosenDay = document.getElementById("date");
   //    var strUser = chosenDay.options[chosenDay.selectedIndex].text;
   //      $.ajax({ url: '/barber/2/appointments/new', type: 'GET', data: {date: strUser}, dataType: 'json',
   //        success: function(data) {
   //         alert('Success');
   //        });
   //    });
        // pass the day to controller to get time values for start time select box
         // $.get( "/barber/2/appointments/new", function( data ) {
         //     $( ".result" ).html( data );
         //  });
  

   // function availableTimes() {
   //     var availableTime;
   //     var chosenDay = document.getElementById("date").value;
   //     console.log(chosenDay);
   //             // if (array.hasOwnProperty(headingFont)) {    
   //             //     availableTime = array[headingFont];
   //             //  }  

   //     // document.getElementById("b_font").value = availableTime;
   //  }
</script>
