<!DOCTYPE html>
<html>
<head>
  <title>Cutz</title>
  <link href='https://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top ">
    <div class="container">
      <div class="navbar-header">
      <%= link_to image_tag('cutz-brand-logo.png', size: "75x75"), root_path, class: "navbar-brand", id: 'brand-logo' %>
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      </div>
        <div class="collapse navbar-collapse navHeaderCollapse">
          <ul class="nav navbar-nav navbar-right ">  
            <%if current_user%>
              <li><%=link_to 'Sign Out', destroy_user_session_path, data: {:confirm => 'Are you sure?'}, :method => :delete %></li>
              <li><%=link_to 'Account', barber_path(current_user.id) %></li>
            <%else%>
               <li><%=link_to 'Register', new_user_registration_path%></li>
               <li><%=link_to 'Sign In', new_user_session_path %></li>
            <%end%>
          </ul>
      </div>
  </div>
</div>

<%= yield %>

</body>
</html>
